pythonVersion: 3.12.9
fastapi==0.115.12
uvicorn==0.29.0
sqlalchemy==1.4.49
pydantic==2.11.1
python-dotenv==1.0.1

# Uncomment when switching to PostgreSQL:
# psycopg2-binary==2.9.9


pythonVersion: 3.12.9